<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>Bansh</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIconFile</key>
    <string>BanshInputMethodIcon.tiff</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Bansh</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>ComponentInputModeDict</key>
    <dict>
        <key>tsInputModeListKey</key>
        <dict>
            <key>com.bansh.inputmethod.bansh.standard</key>
            <dict>
                <key>TISIconLabels</key>
                <dict>
                    <key>Primary</key>
                    <string>B</string>
                </dict>
                <key>TISInputSourceID</key>
                <string>com.bansh.inputmethod.bansh.standard</string>
                <key>TISIntendedLanguage</key>
                <string>mn-Cyrl</string>
                <key>tsInputModeDefaultStateKey</key>
                <true/>
                <key>tsInputModeIsVisibleKey</key>
                <true/>
                <key>tsInputModeMenuIconFileKey</key>
                <string>BanshInputMethodIcon.tiff</string>
                <key>tsInputModePaletteIconFileKey</key>
                <string>BanshInputMethodIcon.tiff</string>
                <key>tsInputModePrimaryInScriptKey</key>
                <true/>
                <key>tsInputModeScriptKey</key>
                <string>smUnicodeScript</string>
            </dict>
        </dict>
        <key>tsVisibleInputModeOrderedArrayKey</key>
        <array>
            <string>com.bansh.inputmethod.bansh.standard</string>
        </array>
    </dict>
    <key>InputMethodConnectionName</key>
    <string>BanshInputMethod_1_Connection</string>
    <key>InputMethodServerControllerClass</key>
    <string>BanshInputController</string>
    <key>InputMethodServerDelegateClass</key>
    <string>BanshInputController</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.productivity</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSSupportsSuddenTermination</key>
    <true/>
    <key>TISIconIsTemplate</key>
    <true/>
    <key>TISInputSourceID</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>TISIntendedLanguage</key>
    <string>mn-Cyrl</string>
    <key>tsInputMethodCharacterRepertoireKey</key>
    <array>
        <string>Cyrl</string>
    </array>
    <key>tsInputMethodIconFileKey</key>
    <string>BanshInputMethodIcon.tiff</string>
</dict>
</plist>
